python-dotenv
fastapi
uvicorn[standard]
sqlalchemy
pydantic-ai-slim[duckduckgo]
duckduckgo-search>=5.0.0
pydantic[email]
pydantic
pydantic_ai
psycopg2-binary
PyJWT
urllib3
langchain-community
python-jose[cryptography]
langchain-pinecone
pinecone
google-genai


